.deps
.dirstamp
*.lo
*.o
*.lai
*.la
*.a
*.pdf

#spider
spider
config.json
index.html

#emacs shit
*~
*#

#tests
env/
__*
tests/\?toto


build/

#other
.vscode
.gdb_history
*.swp

#clion
.idea/
cmake-build-debug/
